<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Modi.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C6C4FF021D7F34550039D31C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C6C4FF1A1D7F34550039D31C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C6C4FF251D7F34550039D31C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
